.sidebar{
  width:280px;
  height:100vh;
  background:#f7f9fc;
  padding:25px;
  border-right:1px solid #ddd;
}

.sidebar-title{
  color:#ff6600;
  margin-bottom:20px;
}

.sidebar ul{
  list-style:none;
  padding:0;
}

.sidebar li{
  margin-bottom:14px;
}

.sidebar a{
  text-decoration:none;
  color:#1a73e8;
  font-size:16px;
}

.sidebar a:hover{
  color:#ff6600;
}